{% extends 'base.html' %}

{% block head_title %}User list{% endblock head_title %}

{% block content %}
    <header>
        <h1>User List</h1>
        <nav>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'login' %}">Logout</a>
        </nav>
    </header>
    <main>
        <h2>List of Users</h2>
        <ul>
            {% for user in users_list %}

                <li>{{ user.username }} - {{ user.email }} - {{ user.role }} - <a href="{% url 'update' user.pk %}">
                    update it</a> - <a href="{% url 'delete' user.pk %}">
                    delete it</a></li>

            {% empty %}
                <li>No users found.</li>
            {% endfor %}
        </ul>
    </main>
{% endblock content %}







